---
import BaseLayout from "../layouts/Base.astro";
---

<BaseLayout>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/property-value">Property Value</a>
    </nav>
  </header>

  A place where Daniel Beeke puts his SHACL prototypes.
</BaseLayout>
