---
interface Props {
  title?: string;
  description?: string;
}
const { title = "Shacly", description = "Prototypes for the SHACL task force by Daniel Beeke" } = Astro.props;
import "@fontsource-variable/roboto";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  body {
    padding: 0;
    margin: 0;
    font-family: "Roboto Variable", sans-serif;
  }

  * {
    box-sizing: border-box;
  }
</style>
