---
interface Props {
  title?: string;
  description?: string;
}
const {
  title = "Shacly",
  description = "Prototypes for the SHACL task force by Daniel Beeke",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/property-value">Property Value</a>
      </nav>

      <h1>{title}</h1>
    </header>

    <slot />
  </body>
</html>
